.benefits {
  @media screen and (min-width: $tablet) {
    display: flex;
  }
  @media screen and (min-width: $tablet) and (max-width: $desktop - 1) {
    flex-wrap: wrap;
    margin-right: -30px;
    margin-bottom: -30px;
  }
}
.benefits__item {
  @media screen and (min-width: $tablet) {
    width: 354px;
    flex-basis: calc((100% - 60px) / 2);
  }
  @media screen and (min-width: $desktop) {
    width: 270px;
  }
  &:not(:last-child) {
    @media screen and (min-width: $tablet) {
      margin-right: 30px;
    }
    @media screen and (max-width: $desktop - 1) {
      margin-bottom: 30px;
    }
  }
}
.benefits__tumb {
  display: flex;
  justify-content: center;
  padding: 25px 0;
  margin-bottom: 30px;

  background-color: var(--backgroung-second);
  border-radius: 4px;
}
.benefits__icon {
  width: 70px;
  height: 70px;
}
.benefits__title {
  margin-bottom: 10px;

  font-weight: 700;
  @include font(14px, 1.14, 0.03em, var(--secondary-text-color));
  text-transform: uppercase;
}
